# Use the Google style in this project.
BasedOnStyle: Google

AllowShortFunctionsOnASingleLine: Empty
ColumnLimit: 120
DerivePointerAlignment: false
PointerAlignment: Left
#QualifierAlignment: Left
IncludeBlocks: Regroup
IncludeCategories:
- Regex: '^\"'
  Priority: 2
- Regex: '^<.*/.*'
  Priority: 4
- Regex: '^<[^/]*>'
  Priority: 6
